@charset "utf-8";
/* CSS Document */

body {background: url(../images/bg.jpg) repeat; margin:0px; padding:0px;}
.main_container {width:100%; height:auto; overflow:auto; background:url(../images/bg_2.png) no-repeat top;}
.content_holder {width:1000px; height:auto; margin:0px auto; overflow:hidden;}
.title {width:100%; height:50px; font-family: 'Oswald', sans-serif; font-size:40px; color:#e73516;}

#nav-menu ul{list-style: none; padding: 0; margin:0px;text-align:center; }
#nav-menu li {float:left; text-align:center; } 
#nav-menu li a { height:35px; font-family: 'Oswald', sans-serif; font-size:14px; color:#fff; float: left; display: block; text-align: center;    text-align:center;  text-decoration:none; border-right:solid 1px #b24019;  padding:10px 15px 0px 15px; }
#nav-menu li a:hover { color:#000101;text-align:center;   }
#nav-menu { width:1000px; height:48px; float:left;   text-align:center; background: url(../images/menu_bg.png) repeat-x; margin-top:20px;}
.clear {clear:both;}
.banner {width:1000px; height:264px; margin-top:10px;}
.highestvote {width:700px; height:45px; border:solid 2px #ff4343; background:#df0707; margin:10px auto 0px auto; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; font:16px/38px Verdana, Geneva, sans-serif; color:#fff; text-align:center; }
.searchmain {width:700px; height:45px; margin:10px auto 0px auto; }
ul {margin:0px; padding:0px;}
li {margin:0px; padding:0px; list-style:none;}
.searchmain li {float:left;}
.searchmain li input[type="text"]  {width:400px; height:35px; border:solid 2px #ff4343; background:#303030; margin:2px 0px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; font-family: 'Oswald', sans-serif;  font-size:16px; color:#fff; text-align:left; float:left; background-image:url(../images/icon_search.jpg); background-repeat:no-repeat; background-position:5px; text-transform:uppercase; padding-left:40px;}

.searchmain li input[type="button"]  {width:118px; height:40px; border:solid 2px #ff4343; background:#303030; margin:2px 5px; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; font-family: 'Oswald', sans-serif;  font-size:16px; color:#fff; text-align:center; float:left; text-transform:uppercase; }
.leftpanel {width:750px; height:auto; float:left; overflow:hidden;}

.playersbox {width:235px; height:180px; float:left; margin:10px 10px 0px 0px ;}
.playersbox div {width:235px; height:128px; background:#fff; box-shadow:1px 1px 5px #888888; border:solid 1px #b8b6b6;}
.player {width:85px; height:73px; float:left; margin:5px;}
.playername {width:130px; height:73px; float:left; font:12px/20px Verdana, Geneva, sans-serif;  text-align:left;color:#303030; margin:5px;}
.sitename {width:230px; height:20px; float:left; font:12px/20px Verdana, Geneva, sans-serif;  text-align:left;color:#303030; margin:5px;}

.vote {width:120px; height:20px; float:left; margin-top:8px;}
 .playersbox li input[type="text"]  {width:105px; float:right; margin-top:5px; border:solid 1px #999;}
 
 .leaderboard {width:250px; height:auto; float:left;overflow:hidden; margin-top:10px; }
.leaderboard_main { width:248px; height:auto; background:#d7d7d7; border:solid 1px #999; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px;}
.leaderboardname {width:228px; height:25px;  font-family: 'Oswald', sans-serif;  font-size:16px; color:#dc0f0f; text-align:left; padding-left:20px; text-transform: uppercase;}
.leaderboard_main2 { width:240px; height:auto; background:#c30101; border:solid 1px #999; -webkit-border-top-right-radius: 30px;
-moz-border-radius-topright: 30px;
border-top-right-radius: 30px; margin:0px auto 5px auto;}

.leaderboard_main3{ width:220px; height:auto; background:#d7d7d7; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius:5px; margin:10px auto;}

.leaderboard_main3 li {font:12px/20px Verdana, Geneva, sans-serif;  text-align:left;color:#303030; padding:5px; border-bottom:solid 1px #999;}
.footer {width:100%; height:80px; border-top:solid 1px #878787; font:12px/50px Verdana, Geneva, sans-serif;  text-align:center;color:#303030;}
.page_navigation {height: auto;width: 750px;text-align: center;margin-bottom: 10px;}